h2 {
    font-size: 50px;
}

.btn-portfolio{
  background-color: rgba(141, 135, 65, .8)
}
.btn-portfolio:hover{
  background-color: rgba(141, 135, 65, .9)
}
.btn-portfolio a{
  text-decoration: none;
  color: white;
}

.portfolio-font{
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
